@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Pausa el carrusel cuando el usuario pone el mouse encima */
.animate-scroll:hover {
  animation-play-state: paused;
}